* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    overflow-x: hidden;
    
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    transition: background 0.3s ease-in-out;
}

.name {
    margin: 0 auto;
    max-width: 70vw;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    width: 50vw;
    height: 30px;
    border: 0;
    margin-bottom: 70px;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 1s ease-in;
}

input:focus {
    
    outline: 0;
    color: white;
    background-color: rgba(0,0,0, 0.1);
}

h1 {
    font-size: 50px;
    transition: color 0.5s ease;
}

.scale {
    transform: scale(0.9);
}


.invisible {
    visibility: hidden;
    transition: visibility 0.3s ease;
}